$primary-width: 1440px;
$primary-height: 934px;
$primary-color: #16133D;
$primary-font: 'Roboto';
$primary-font-size: 16px;
$margin-center: 0 auto;
$secondary-width: 1170px;
$basic-white-color: white;
$secondary-font: "Quicksand";